body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 50px; 
    background: linear-gradient(270deg, #3b2b2b, #800000, white, #000000);
    background-size: 400% 400%;
    transition: transform 0.3s;
    margin: 0 10px;
}

nav a:hover {
    animation: gradient-animation 8s ease infinite; 
    transform: scale(1.05);
}

@media (max-width: 600px) {
    nav a {
        font-size: 16px;
        padding: 10px 20px;
    }
}
